<div class="hint__inner js-hint-inner">

  <button class="btn-icon hint__btn js-hint-btn-popup"
    aria-label="{{_globals._extensions._hint.openButtonText}}">
    <div class="icon"></div>
  </button>

</div>
