<div class="hint-popup__inner">

  <div id="notify-heading" class="aria-label">{{{_globals._extensions._hint.ariaLabelNotify}}}</div>

  <div class="hint-popup__content">
    <div class="hint-popup__content-inner">

      {{#if _hint.title}}
      <div class="hint-popup__title{{#if body}} has-margin{{/if}}">
        <div class="hint-popup__title-inner">
          {{{compile _hint.title}}}
        </div>
      </div>
      {{/if}}

      {{#if _hint.body}}
      <div class="hint-popup__body">
        <div class="hint-popup__body-inner">
          {{{compile _hint.body}}}
        </div>
      </div>
      {{/if}}

    </div>
  </div>

</div>
